.alert {
  &__button,
  &__open-alert {
    background: c('white');
    padding: $padding / 2 $padding;
    border: 1px solid c('black');
    font-size: 35px;
    line-height: 1;
    display: flex;
    align-items: center;
    transition: width $medium;

    // Remove button push effect
    &:active,
    &:focus,
    &:hover {
      padding: $padding / 2 $padding;
      border: 1px solid c('black');
    }
  }

  &__icon {
    $size: 35px;
    width: $size;
    height: $size;
    min-width: $size;
    margin-right: $padding / 2;
  }

  &__preview-text {
    transition: opacity $medium;
    text-align: left;
    white-space: nowrap;
  }

  &__all-warning {
  }

  &__single {
    // border: 10px solid rebeccapurple;
  }

  &__open-alert {
    width: 100%;
  }

  &__close-alert {
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    @include t3d(100%);
    transition: transform $medium;
    background: c('warning');
  }

  &--has-warning,
  &__open-alert {
    background: c('warning');
  }

  &--preview-expanded {
    width: 100% !important;

    // &__icon,
    // &__preview-text {
    //   opacity: 0;
    // }
  }

  &--warning-expanded {
    @include t3d(0);
  }
}
