.alert {
  margin-bottom: $padding;

  &__preview-button,
  &__single-open-button {
    padding: $padding / 2 $padding;
    border: 1px solid c('black');
    border-top: 0;
    font-size: 35px;
    line-height: 1;
    display: flex;
    align-items: center;
    transition: width $medium;
    width: 100%;
    cursor: pointer;

    // Remove button push effect
    &:active,
    &:focus,
    &:hover {
      padding: $padding / 2 $padding;
      border: 1px solid c('black');
      border-top: 0;
    }
  }

  &__preview-button {
    border-top: 1px solid c('black');

    &:active,
    &:focus,
    &:hover {
      border-top: 1px solid c('black');
    }
  }

  &__preview-icon {
    $size: 35px;
    width: $size;
    height: $size;
    min-width: $size;
    margin-right: $padding / 2;
  }

  &__preview-text {
    transition: opacity $medium;
    text-align: left;
    white-space: nowrap;
  }

  &__single {
    // border: 10px solid rebeccapurple;
  }

  &__single-open-button {
  }

  &__single-close-button {
  }

  &__single-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    @include t3d(100%);
    transition: transform $medium;
    background: c('warning');
  }

  &__single-open-button,
  &--has-warning {
    background: c('warning');

    &:hover,
    &:focus {
      background: scale-color(c('warning'), $lightness: 10%);
    }
  }

  &--preview-expanded {
    width: 100% !important;

    .alert__open-alert,
    .alert__button {
      width: 100%;
    }
  }

  &--warning-shown {
    @include t3d(0);
  }
}
