.current {
  &__temperature {
    @include fluid-type(48px, 64px);
  }

  &__feels-like {
    @include fluid-type();
  }

  &__description {
    @include fluid-type(24px, 36px);

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
