.current {
  display: flex;
  align-items: flex-end;
  margin-bottom: $padding;
  margin-right: auto;

  &__temperature {
    @include fluid-type(40px, 64px);
    margin-bottom: $padding / 2;
  }

  &__feels-like {
    @include fluid-type($min-font-size: 14px);
    margin-bottom: $padding;
  }

  &__icon {
    max-width: 75px;
  }

  &--is-expanded {
  }
}
