.day {
  // background: rgba(seagreen, 0.2);
  $border: 1px solid rgba(c('black'), 0.3);
  border-top: $border;

  &:last-of-type {
    border-bottom: $border;
  }

  &__button {
    padding: $padding 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title-text {
    min-width: 9ch;
  }

  &__title-info {
    flex-shrink: 0;

    > span {
      display: inline-flex;
    }
  }

  &__title-icon {
  }

  &__title-min,
  &__title-max {
    min-width: 4ch;
  }

  &__title-min,
  &__title-max,
  &__title-precip {
    margin-left: #{$padding / 4};
  }
  &__title-max {
  }

  &__title-precip {
    min-width: 6ch;
    padding: $padding / 2;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__title-precip-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: c('blue');
  }

  &__title-precip-text {
    position: relative;
    z-index: 1;
  }

  &__temperature,
  &__precip,
  &__sun-uv,
  &__wind,
  &__other {
    border-bottom: 1px solid rgba(c('blue'), 0.7);
  }

  &--no-rain {
    opacity: 0.1 !important;
  }
}
