.day {
  // background: rgba(seagreen, 0.2);
  $border: 1px solid rgba(c('black'), 0.3);
  border-top: $border;

  &:last-of-type {
    border-bottom: $border;
  }

  &[open] {
    .day__title-text {
      min-width: unset;
      margin-right: $padding / 2;
    }

    .day__title-marker {
      transform: rotate(180deg);
    }

    // &.transition-ended {
    //   .day__title-date {
    //     opacity: 1;
    //     visibility: visible;
    //   }
    // }

    .day__title-info {
      display: none;
    }

    .day__title-date {
      display: block;
    }

    // Slide in animation when opening
    summary ~ * {
      animation: sweep $fast ease-in-out;
    }
  }

  &__button {
    padding: $padding 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(#{$padding} * 2 + 45px);

    &::marker,
    &::-wekit-details-marker {
      display: none;
    }
  }

  &__title-text {
    min-width: 9ch;
    font-weight: 500;
  }

  &__title-date {
    flex-shrink: 0;
    margin-right: auto;
    // visibility: hidden;
    // opacity: 0;
    display: none;
    // transition: opacity $fast;
  }

  &__title-info {
    flex-shrink: 0;

    > span {
      display: inline-flex;
    }
  }

  &__title-icon {
    width: 45px;
    height: auto;
  }

  &__title-min,
  &__title-max {
    min-width: 3ch;
  }

  &__title-min,
  &__title-max,
  &__title-precip {
    margin-left: $padding / 4;
  }

  &__title-max {
  }

  &__title-precip {
    min-width: 6ch;
    padding: $padding / 2;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__title-precip-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: c('blue');
  }

  &__title-precip-text {
    position: relative;
    z-index: 1;
  }

  &__title-marker {
    flex-shrink: 0;
    $size: 24px;
    width: $size;
    height: $size;
    transform: rotate(0);
    transition: transform $fast;
    transform-origin: $size / 2 $size / 2;
  }

  &__precip,
  &__sun-uv,
  &__wind,
  &__other {
    border-bottom: 1px solid rgba(c('blue'), 0.7);
  }

  &__temperature {
    > div {
      display: flex;

      > span {
        &:last-of-type {
          margin-left: 1rem;
        }
      }
    }
  }

  &__icon {
    margin-bottom: $padding;
  }

  &--no-rain {
    opacity: 0.1 !important;
  }

  svg:not([class]) {
    width: $icon-size;
    height: $icon-size;
  }
}
