.hourly-forecast {
  &__filters {
    display: flex;

    label {
      + label {
        margin-left: $padding;
      }
    }
  }

  &__outer {
    position: relative;
  }

  &__wrap {
    display: flex;
    overflow-x: scroll;
  }

  &__day {
    flex: 1 0 auto;
    border-right: 1px solid c('black');

    h4 {
      margin-right: $padding / 2;
      display: inline-block;
      position: sticky;
      top: 0;
      left: 0;
    }

    &:first-of-type {
      margin-left: -$padding / 2;
    }

    // All but first element
    &:nth-child(n + 2) {
      h4 {
        margin-left: $padding / 2;
      }
    }
  }

  &__hour-wrap {
    display: flex;
  }

  &__labels {
    div {
      display: none;
      line-height: 2;
      position: absolute;
      left: 0;
      right: 0;
      background: c('white');
      border-top: 1px solid c('grey');
      border-bottom: 1px solid c('grey');
    }
  }
}
