.hourly-block {
  flex: 1 0 auto;
  border-right: 1px solid c('grey');
  padding: $padding / 2;

  &:last-of-type {
    border-right: none;
  }
  &__time {
    text-align: center;
  }

  &__icon {
    margin-top: $padding;
    min-height: 50px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__feels-like {
    // position: relative;
    // margin-top: $padding * 2;
  }

  &__precip-chance {
  }

  &__temp,
  &__feels-like,
  &__precip-chance,
  &__rain,
  &__snow,
  &__wind-speed,
  &__uv,
  &__clouds,
  &__pressure {
    margin-top: $padding * 3;
  }
  &__snow {
  }

  &--night {
    background: c('night');
  }

  &--extend {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: calc(-1px - #{$padding} / 2);
      right: -$padding / 2;
      top: -$padding / 2;
      bottom: calc(-#{$padding} / 2 + 2px);
      z-index: 1;
      background: rgba(c('white'), 0.8);
    }

    .hourly-block--night & {
      &::before {
        background: rgba(c('night'), 0.8);
      }
    }
  }

  > div:last-of-type {
    &.hourly-block--extend {
      &::before {
        bottom: -$padding / 2;
      }
    }
  }

  &__label {
    padding-left: $padding / 2;
    position: absolute;
    left: 0;
    right: 0;
    background: c('pale-blue');
    border-top: 1px solid c('grey');
    border-bottom: 1px solid c('grey');
    line-height: 2;
  }
}
