.hourly-block {
  flex: 1 0 auto;
  border-right: 1px solid c('grey');
  padding: $padding / 2;

  &:last-of-type {
    border-right: none;
  }

  &__icon {
    display: block;
    min-height: 50px;
    margin-top: $padding;
  }

  &__feels-like {
    // position: relative;
    // margin-top: $padding * 2;
  }

  &__precip-chance {
  }

  &__temp,
  &__feels-like,
  &__precip-chance,
  &__rain,
  &__snow,
  &__wind-speed,
  &__uv,
  &__clouds,
  &__pressure {
    margin-top: $padding * 3;
  }
  &__snow {
  }

  &--night {
    background: rgba(c('black'), 0.08);
  }
}
