.hourly-forecast {
  overflow: hidden;

  &__outer {
    position: relative;
  }

  &__wrap {
    display: flex;
    overflow-x: auto;
  }

  &__day {
    flex: 1 0 auto;
    border-right: 1px solid c('black');

    h4 {
      margin-right: $padding / 2;
      display: inline-block;
      position: sticky;
      top: 0;
      left: 0;
    }

    // All but first element
    &:nth-child(n + 2) {
      h4 {
        margin-left: $padding / 2;
      }
    }
  }

  &__hour-wrap {
    display: flex;
  }
}
