@use 'sass:math';

.single-alert {
  $size: 19px;

  &__expand-button {
    padding: math.div($padding, 2) $padding;
    border: 1px solid c('black');
    border-top: 0;
    background: c('warning');
    @include fluid-type($size);
    line-height: 1;
    display: flex;
    align-items: center;
    transition: width $medium;
    width: 100%;

    // Remove button push effect
    &:active,
    &:focus,
    &:hover {
      padding: math.div($padding, 2) $padding;
      border: 1px solid c('black');
      border-top: 0;
    }
  }

  &__close-button {
    svg {
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__modal-overlay {
    @include modal-overlay;
  }

  &__modal {
    @include modal;

    @include t3d(0, -100%);
  }

  &__content {
    padding: $padding;
  }

  &__header {
    min-height: 10vh;
    background: c('warning');
  }

  &__header-top {
    display: flex;
    align-items: center;
  }

  &__header-icon {
    margin-right: auto;
    width: $icon-size;
    height: $icon-size;
  }

  &__title {
    margin-bottom: 0;
  }

  &__start-time,
  &__end-time {
    display: block;
    margin-bottom: $padding;
    color: c('dark-grey');

    time {
      font-weight: 500;
    }
  }

  &--overlay-after-open {
    opacity: 1;
  }

  &--overlay-before-close {
    opacity: 0;
  }

  &--modal-after-open {
    @include t3d(0);
  }
  &--modal-before-close {
    @include t3d(0, -100%);
  }
}
