@use 'sass:math';

.uv-info {
  display: flex;
  align-items: center;

  &__circle {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    border-radius: $icon-size;
    margin-right: math.div($padding, 2);

    &.low {
      background-color: c('uv-low');
    }
    &.moderate {
      background-color: c('uv-moderate');
    }
    &.high {
      background-color: c('uv-high');
    }
    &.very-high {
      background-color: c('uv-very-high');
    }
    &.extreme {
      background-color: c('uv-extreme');
    }
  }
}
