.alert {
  $size: 19px;
  $icon-size: $size * 1.2;

  margin-bottom: $padding;

  &__preview-button {
    padding: $padding / 2 $padding;
    border: 1px solid c('black');
    border-top: 0;
    border-top: 1px solid c('black');
    @include fluid-type($size);
    line-height: 1;
    display: flex;
    align-items: center;
    transition: width $medium;
    width: 100%;
    background: c('warning');

    // Remove button push effect
    &:active,
    &:focus,
    &:hover {
      padding: $padding / 2 $padding;
      border-top: 1px solid c('black');
      background: scale-color(c('warning'), $lightness: 10%);
    }
  }

  &__preview-icon {
    width: $icon-size;
    height: $icon-size;
    min-width: $icon-size;
    margin-right: $padding / 2;
  }

  &__preview-text {
    transition: opacity $medium;
    text-align: left;
    white-space: nowrap;
  }

  &__single-open-button {
    background: c('warning');

    &:hover,
    &:focus {
      background: scale-color(c('warning'), $lightness: 10%);
    }
  }

  &--preview-expanded {
    width: 100% !important;

    .alert__open-alert,
    .alert__button {
      width: 100%;
    }
  }
}
