@use 'sass:math';

.weather-alerts {
  $size: 18px;
  $icon-size: $size * 1.2;

  margin-bottom: $padding;
  transition: width $fast;
  overflow: hidden;

  &__preview-button {
    padding: math.div($padding, 2) $padding;
    border: 1px solid c('black');
    border-top: 0;
    border-top: 1px solid c('black');
    @include fluid-type($size);
    line-height: 1;
    display: flex;
    align-items: center;
    transition: width $medium;
    width: 100%;
    // background: c('warning');

    // Remove button push effect
    &:active,
    &:focus,
    &:hover {
      padding: math.div($padding, 2) $padding;
      border-top: 1px solid c('black');
      // background: scale-color(c('warning'), $lightness: 10%);
    }
  }

  &__preview-icon {
    width: $icon-size;
    height: $icon-size;
    min-width: $icon-size;
    margin-right: math.div($padding, 2);
  }

  &__preview-text {
    text-align: left;
    white-space: nowrap;
  }

  &__single-open-button {
    background: c('warning');

    &:hover,
    &:focus {
      background: scale-color(c('warning'), $lightness: 10%);
    }
  }

  &__dummy-button {
    visibility: hidden;
    position: absolute;
    width: auto;
  }

  &--has-warning {
    background: c('warning');

    &:active,
    &:focus,
    &:hover {
      background: scale-color(c('warning'), $lightness: 10%);
    }
  }
}
