@use 'sass:math';

.btn {
  padding: 0.75em 1em;
  border-width: 2px;
  border-style: solid;
  display: flex;
  text-decoration: none;
  user-select: none;
  min-width: 50px;
  width: max-content;
  max-width: 100ch;
  transition: background-color $fast, border-color $fast, color $fast;
  @include button-colors-outline(c('blue'), c('white'));

  &--red-outline {
    @include button-colors-outline(c('error'), c('white'));
  }

  &--blue {
    background: c('blue');
    color: c('white');

    &:hover,
    &:focus {
      background: c('white');
      color: c('blue');
    }
  }

  &--inline {
    display: inline-flex;
  }

  // Adjacent buttons
  & + & {
    margin-left: math.div($padding, 2);
  }
}
