.btn {
  padding: 0.75em 1em;
  border: 1px solid c('blue');
  display: flex;
  text-decoration: none;
  user-select: none;
  min-width: 100px;
  background: c('blue');
  color: c('white');
  width: max-content;
  max-width: 100ch;

  transition: background-color $medium, border-color $medium;

  &:hover,
  &:focus {
    background: c('dark-blue');
    border-color: c('dark-blue');
  }

  &--inline {
    display: inline-flex;
  }
}
