.hourly {
  &__filters {
    display: flex;
  }

  &__wrap {
    display: flex;
    overflow-x: scroll;
  }

  &__day {
    flex: 1 0 auto;
    border-right: 1px solid c('black');

    h4 {
      margin-right: $padding / 2;
      display: inline-block;
      position: sticky;
      top: 0;
      left: 0;
    }

    &:nth-child(n + 2) {
      h4 {
        margin-left: $padding / 2;
      }
    }
  }

  &__hour-wrap {
    display: flex;
  }

  &__single {
    flex: 1 0 auto;
    border-right: 1px solid c('blue');
    padding: $padding / 2;

    &.night {
      background: rgba(c('black'), 0.08);
    }

    &:last-of-type {
      border-right: none;
    }
  }

  &__icon {
    display: block;
    min-height: 50px;
  }

  &__feels-like {
    position: relative;
    margin-top: $padding * 2;
  }

  &__rain {
    margin-top: $padding * 2;
  }
}
