#map {
  // input[type='text'] {
  //   position: absolute;
  //   top: $padding * 4;
  //   left: $padding;
  //   right: $padding;
  // }

  a {
    &.btn {
      position: absolute;
      bottom: $padding;
      left: $padding;
      z-index: 1000;
      color: c('white');
    }
  }
}
