#map {
  input[type='text'] {
    position: absolute;
    top: $padding * 4;
    left: $padding;
    right: $padding;
  }

  .btn {
    position: absolute;
    bottom: $padding;
    left: $padding;
  }
}
