.saved-location {
  margin-bottom: $padding / 2;
  padding: $padding / 2 0 $padding;
  border-bottom: 1px solid c('grey');
  display: flex;
  align-items: center;

  &__link {
    color: currentColor;
    text-decoration: none;
    margin-right: auto;
    flex-grow: 1;
  }

  &__edit,
  &__delete {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: $padding / 2;
    padding: 0;

    svg {
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__input {
    margin-bottom: $padding;
    margin-left: $padding / 2;
  }

  &__modal-overlay {
    @include modal-overlay;
  }

  &__modal {
    @include modal;
    padding: $padding;
    @include s3d(0.9, 0.9);
  }

  &__button-wrap {
    display: flex;
  }

  &--modal-overlay-after-open {
    opacity: 1;
  }

  &--modal-overlay-before-close {
    opacity: 0;
  }
  &--modal-after-open {
    @include s3d();
  }

  &--modal-before-close {
    @include s3d(0.9, 0.9);
  }
}
