.saved-location {
  margin-bottom: $padding / 2;
  padding: $padding / 2 0 $padding;
  border-bottom: 1px solid c('grey');
  display: flex;
  align-items: center;

  &__link {
    color: currentColor;
    text-decoration: none;
    margin-right: auto;
    flex-grow: 1;
  }

  &__edit,
  &__delete {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: $padding / 2;
    padding: 0;

    svg {
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__input {
    margin-bottom: $padding;
  }
}
