.saved-link {
  margin-bottom: $padding / 2;
  padding: $padding / 2 0 $padding;
  border-bottom: 1px solid c('grey');
  display: flex;

  &__link {
    color: currentColor;
    text-decoration: none;
  }
}
