.star-location {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $padding / 2;
  }

  &__icon {
    width: $icon-size * 0.75;
    height: $icon-size * 0.75;
  }

  &--hidden {
    display: none;
  }
}
