.toast {
  position: fixed;
  bottom: $padding;
  left: $padding;
  right: $padding;
  z-index: 100;
  padding: $padding 0;
  border-width: 1px;
  border-style: solid;
  background: c('white');

  &.closed {
    display: none;
  }

  &.error {
    border-color: red;
  }

  &.info {
    border-color: teal;
  }
}
