.tooltip {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding: $padding / 4;

  &:active,
  &:focus,
  &:hover {
    border: none;
    padding: $padding / 4;
  }

  &__icon {
    $size: 20px;
    width: $size;
    height: $size;
  }

  &__content {
    padding: $padding / 2;
    text-align: left;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 300px;
    border: 1px solid c('blue');
    user-select: none;
    background: c('white');
    cursor: default;
    font-size: 16px;
    line-height: 1.5;
  }

  &.open,
  &:hover {
    .tooltip__content {
      display: block;
    }
  }
}
