@use 'sass:math';

.tooltip {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding: math.div($padding, 4);

  &__icon {
    $size: 20px;
    width: $size;
    height: $size;
  }

  &__content {
    user-select: none;
    font-size: 16px;
    line-height: 1.5;
  }

  &__content-header {
    display: flex;
    align-items: center;
    margin-bottom: $padding;
  }

  &__content-title {
    margin-bottom: 0;
  }

  &__header-icon {
    width: $icon-size;
    height: $icon-size;
    margin-right: math.div($padding, 2);
  }

  &__close-btn {
    margin-left: auto;

    svg {
      width: $icon-size * 0.8;
      height: $icon-size * 0.8;
    }
  }

  &__modal-overlay {
    @include modal-overlay;
  }

  &__modal {
    @include modal;
    padding: $padding;
    @include s3d(0.9, 0.9);
  }

  &--modal-overlay-after-open {
    opacity: 1;
  }

  &--modal-overlay-before-close {
    opacity: 0;
  }

  &--modal-after-open {
    @include s3d();
  }

  &--modal-before-close {
    @include s3d(0.9, 0.9);
  }
}
