$breakpoints: (
  mobile: 390px,
  tablet: 480px,
  tablet-m: 620px,
  tablet-l: 767px,
  desktop: 1024px,
  desktop-md: 1200px,
  desktop-xl: 1440px,
  desktop-xxl: 1700px,
  fhd: 1920px,
);

$colors: (
  'white': #ffffff,
  'black': #000000,
  'blue': #055583,
  'pale-blue': #e4eff6,
  'grey': #ababab,
  'dark-grey': #959595,
  'night': #eeeeee,
  'warning': #ebbb02,
  'dark-blue': #04456b,
  'uv-low': #299501,
  'uv-moderate': #f7e401,
  'uv-high': #f95901,
  'uv-very-high': #d90011,
  'uv-extreme': #6c49cb,
);

// Transition speeds
$fast: 0.3s;
$medium: 0.65s;
$slow: 1s;

$padding: 1rem;

$header-height: 75px;

$icon-size: 25px;
