$colors: (
  'white': #ffffff,
  'black': #000000,
  'blue': #055583,
  'grey': #ababab,
  'warning': #ebbb02,
  'dark-blue': #04456b,
  'uv-low': #299501,
  'uv-moderate': #f7e401,
  'uv-high': #f95901,
  'uv-very-high': #d90011,
  'uv-extreme': #6c49cb,
);

// Transition speeds
$fast: 0.3s;
$medium: 0.65s;
$slow: 1s;

$padding: 1rem;

$nav-height: 75px;

$icon-size: 35px;
