// Additional reset rules

summary {
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }
}

// https://gist.github.com/MoOx/9137295
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  user-select: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
