@import '~@fontsource/roboto/scss/mixins';

@include fontFace($weight: 400);
@include fontFace($weight: 500);

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  @include fluid-type(24px, 36px);
}

strong {
  font-weight: 500;
}
