@import '~@fontsource/roboto/scss/mixins';

@include fontFace($weight: 400);
@include fontFace($weight: 500);
@include fontFace($weight: 700);

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  @include fluid-type(24px, 36px);
}

strong {
  font-weight: 700;
}
