@import '~@fontsource/roboto/scss/mixins';

@include fontFace($weight: 400);
@include fontFace($weight: 500);
@include fontFace($weight: 700);

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

p {
  line-height: 1.5;
  margin: 0 0 $padding 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: $padding 0;
  font-weight: normal;
}

h1 {
  @include fluid-type(24px, 36px);
}

h2 {
  @include fluid-type(22px);
}

h5,
h6 {
  @include fluid-type(16px);
}
h6 {
  @include fluid-type(16px);
}

strong {
  font-weight: 700;
}
