.header {
  background: c('blue');
  color: c('white');
  height: $header-height;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__text {
    margin: 0;
    margin-right: 0.5ch;
    line-height: 1;
  }

  &__link {
    color: currentColor;
    text-decoration: none;
  }
}
