.header {
  display: flex;
  background: c('blue');
  color: c('white');
  align-items: center;
  height: $header-height;
  padding: $padding;

  &__link {
    color: currentColor;
    text-decoration: none;
  }
}
