.nav {
  margin-left: auto;

  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: currentColor;

    svg {
      width: $icon-size;
      height: $icon-size;
    }
  }

  &__overlay,
  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__overlay {
    background: rgba(c('black'), 0.4);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1900;
    opacity: 0;
    transition: opacity $fast;
  }

  &__menu {
    z-index: 2000;
    @include t3d(100%);
    transition: transform $fast;
  }

  &__nav {
    background: c('white');

    height: 100%;
    min-width: 200px;
    width: 80vw;
    max-width: 300px;
    color: c('black');
    font-size: 20px;
    border-left: 1px solid c('grey');
  }

  &__menu-head,
  &__link {
    padding: $padding * 0.75 $padding;
    display: flex;
    align-items: center;
    border-bottom: 1px solid c('grey');
  }

  &__menu-head {
    justify-content: space-between;
    font-weight: 700;
  }

  &__link {
    text-decoration: none;
    color: currentColor;

    &:hover,
    &.focus-visible {
      background: c('pale-blue');
    }
  }

  &--overlay-after-open {
    opacity: 1;
  }

  &--overlay-before-close {
    opacity: 0;
  }

  &--menu-after-open {
    @include t3d(0);
  }

  &--menu-before-close {
    @include t3d(100%);
  }
}
