nav {
  display: flex;
  background: c('blue');
  height: $nav-height;
  padding: $padding;

  a {
    display: flex;
    align-items: center;
    color: c('white');
    text-transform: uppercase;
    margin-right: $padding;
    text-decoration: none;
  }
}
